@font-face {
    font-family: 'Gilroy';
    src: url(../assets/font/Gilroy-Regular.eot);
    src: url(../assets/font/Gilroy-Regular.woff2),
    url(../assets/font/Gilroy-Regular.woff),
    url(../assets/font/Gilroy-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../assets/font/Gilroy-Medium.eot);
    src: url(../assets/font/Gilroy-Medium.woff2),
    url(../assets/font/Gilroy-Medium.woff),
    url(../assets/font/Gilroy-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../assets/font/Gilroy-Semibold.eot);
    src: url(../assets/font/Gilroy-Semibold.woff2),
    url(../assets/font/Gilroy-Semibold.woff),
    url(../assets/font/Gilroy-Semibold.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../assets/font/Gilroy-Bold.eot);
    src: url(../assets/font/Gilroy-Bold.woff2),
    url(../assets/font/Gilroy-Bold.woff),
    url(../assets/font/Gilroy-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../assets/font/Gilroy-Extrabold.eot);
    src: url(../assets/font/Gilroy-Extrabold.woff2),
    url(../assets/font/Gilroy-Extrabold.woff),
    url(../assets/font/Gilroy-Extrabold.ttf);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../assets/font/Montserrat-Medium.eot);
    src: url(../assets/font/Montserrat-Medium.woff2),
    url(../assets/font/Montserrat-Medium.woff),
    url(../assets/font/Montserrat-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}